body{
    text-align: center;
    line-height: 2.5em;
    background-image: url("assets/World-Map-Wallpapers-HD.jpg");
    background-size: cover;
    background-position: bottom bottom;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    width: 980px;
    margin: auto;
}

.container{
    width: 350px;
    text-align: center;
    margin: auto;
    background-color: rgb(171,104,24);
    opacity: .5;
}